[Desktop Entry]
Name=be2-install
Comment=installer for BE 2 Big Data
Exec=bash -c '"$(dirname "$1")"/be2-install.sh "$( cd "$(dirname "$1")" ; pwd -P )"' dummy %k
#Icon=/home/user/youricon.png
Terminal=true
Type=Application
